<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest">

    <test name="MainTest" parallel="false">
        <classes>
            <class name="OmaTest">
                <methods>
                    <include name="loginTest"/>
                    <include name="compareProducts"/>
                    <include name="checkBreadCrumbs"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>